.lato-bold{
    font-family:"lato", serif ;
    font-weight: 700;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato";
    background-image: url(/static/img/portada_hotel.avif);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

/* header */

.header{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
}

/* navbar styles */
.navbar{
    width: 100%;
    height: 100px;
    top: 0;
    margin-top: 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    position: fixed;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 10;
    
}
.logo{
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 40px;
}


.logo span{
    color: #000;
    font-family: "Yesteryear",sans-serif;
    font-weight: bold;
    font-size: 4rem;
    text-transform: capitalize;
    cursor: pointer;

}


.navbar .links{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0;
    
}

.navbar .links .link{
    font-size: 1.5rem;
    cursor: pointer;
    transition: color .2s ease-in-out;
    text-transform: capitalize;

}

.navbar .links .link span{
    color: green;
}

.navbar .links .link span:hover{
    color: white;
    background-color: green;
    border-radius: 5px;
}

.navbar .links .link:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
    

}

.navbar .links .link a{
    text-decoration: none;
    color: #000;
    transition: color .2s ease-in-out;
}
.navbar .links .link a:hover{
    color: #fff;
}

.navbar .links .link .relative button:hover> .navbar {
  z-index: 50;
  position: relative;
}





.brand-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    font-size: 2em;
    text-align:center;
    margin: 0;
    line-height: 1.1;
    text-transform: capitalize;
    
}



.button a{
    position: absolute;
    top: 85%;
    left: 42%;
    width: auto;
    height: 50px;
    margin: 10px;
    padding: 10px 20px;
    background: rgba( 255, 255, 255, 0.3 );
    border-radius: 5px;
    font-size: 29px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border:none;
}

.button a:hover{
  background: linear-gradient(to right, #16a34a, #d5d823);
  color: #fff;
}
.button a {
  transition: background 0.3s ease;
}

.active{
    border-bottom: 3px solid green;
}



/* hide password-based authentication field from crispy form */
#div_id_usable_password {
    display: none;
}



/* add blank space for index.html */

.blank-space{

    height: 100vh;
}

/* color for the help text in the UserCreationForm */

small {
  color: #000 !important;
}

/* background for UserCreationForm */

.glass{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* label color for UserCreationForm */
.label-color label{
    color: #16a34a;
    
}

label[for="id_password2"] {
  background-color: #fff;
  width: 25%;
  padding: 2px;
  border-radius: 5px;
}



