{% extends 'base/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}



{% block content  %}

    
        
        <div class="brand-container">
            <h1 class="lato-bold">sol & mar</h1>
            <p>encuentra tu espacio</p>
        </div>


        <div class="info">

            <div class="align">
                <i class="material-symbols-outlined">room_service</i>
                <div>
                    <p>servicio habitación</p>
                    
                </div>
            </div>

            <hr class="line">

            <div class="align">
                <i class="material-symbols-outlined"> toys_fan</i>
                <div>
                    <p>Calefacción | A/C </p>
                    <span>en todos los espacios</span>
                </div>
            </div>

            <hr class="line">

            <div class="align">
                <i class="fa-solid fa-square-parking"></i>
                <div>
                    <p>aparcamiento </p>
                    <span>para (3) tres autos</span>
                </div>
            </div>

            <hr class="line">

            <a href="{% url 'Rooms' %}" class="button">
                <button type="button">ver habitaciones</button>
            </a>


        </div> 
    
{% endblock %}