{% extends 'base/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}



{% block content  %}

    
        
        <div class="brand-container  ">
            <h1 class="lato-bold">sol & mar</h1>
            <p>find your space</p>
        </div>


         <!--add blank space so the background image appears complete in the home page  -->
         <div class="blank-space button ">
            <!-- add button to see all the rooms  -->
            <a href="{% url 'Rooms' %}" >see rooms</a>
         </div>
    
{% endblock %}